::-webkit-scrollbar {
    width: 23px;
}


::-webkit-scrollbar-track {
    background: white;
}


::-webkit-scrollbar-thumb{
    background: #21a0bf;
    border: black;
}


::-webkit-scrollbar-thumb:hover{
    background: #021617;
}


body{
    background-color:  #113136;
    font-family: Helvetica;
    font-size: 21px;
}


.body{
  padding: 30px;
  color: white;
}


#jumbo{
    padding: 10%;
    margin-left: 0%;
    margin-right: 0%;
    background-color: #284d54;
    color: white;
}


.userurl{
    color: white;
    font-weight: 1000;
    padding: 9px;
    background-color: #21a0bf;
    border-style: solid;
    border-color: #113136;
    border-width: 3px;
    border-radius: 6px;
}


.card{
    padding: 3%;
    box-shadow: 0 9px 9px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    background-color: #284d54;
    font-family: Helvetica;
}


.card-body{
    background-color: #47747d;
    font-family: Helvetica;
    font-size: 23px;
    font-weight: normal;
}


.pname{
  color: #3dafcc;
  font-family: Helvetica;
}


form{
    font-family: Helvetica;
    font-size: 23px;
    font-weight: normal;
}


.likebtn,.unlikebtn{
    cursor: pointer;
    animation: bird 0.3s linear;
}


@keyframes bird{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
