/* width */
::-webkit-scrollbar {
    width: 23px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #dae8ed;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #318254;
    border: black;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

body{
    background-color:  #3387a6;
    font-family: Helvetica;
    font-size: 21px;
}

.body {
  padding: 30px;
}
#jumbo{
    padding: 1%;
    margin-left: 1%;
    margin-right: 1%;
    background-color: #dae8ed;
    color: #318254;
}
.userurl {
  color: white;
  font-weight: 1000;
  padding: 9px;
  background-color: #318254;
  border-style: solid;
  border-color: #3387a6;
  border-width: 3px;
  border-radius: 6px;
}
.card{
    box-shadow: 0 9px 9px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    background-color: #dae8ed;
    font-family: Helvetica;
}
.card-body{
  background-color: white;
    font-family: Helvetica;
    font-size: 23px;
    font-weight: normal;
}
.pname {
  color: #318254;
  font-family: Helvetica;
}
form{
    font-family: Helvetica;
    font-size: 23px;
    font-weight: normal;
}
.likebtn,.unlikebtn{
    cursor: pointer;
    animation: heart 0.2s linear;
}
@keyframes heart{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
