/* width */
::-webkit-scrollbar {
    width: 20px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: white;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: teal;
    border: greenyellow;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

body{
    background-color:  #4ddbff;
    font-family: cursive;
}
.body {
  padding: 30px;
}
#jumbo{
    padding: 2%;
    margin-left: 2%;
    margin-right: 2%;
    background-color: #ff99c2;
}
.userurl {
  color: white;
  font-weight: 800;
  padding: 5px;
  background-color: #800033;
  border-style: solid;
  border-color: #800033;
  border-width: 2px;
  border-radius: 4px;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    background-color: #ff80b3;
    font-family: times;
}
.card-body{
  background-color: white;
    font-family: times;
    font-size: 25px;
    font-weight: bold;
}
.pname {
  color: #800033;
  font-family: times;
}
form{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: bold;
}
.likebtn,.unlikebtn{
    cursor: pointer;
    animation: heart 0.2s linear;
}
@keyframes heart{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
